<div class="row">
    <div class="col-xl-3 col-lg-6 col-sm-3">
        <div class="entry-area">
            <input class="entry-input" type="text" name="serialno" id="serialno" placeholder="SERIAL">
        </div>
        <div class="entry-area">
            <input class="entry-input" type="text" name="tag" id="tag" placeholder="TAG">
        </div>
        <div class="entry-area">
            <input class="entry-input" type="text" name="itemname" id="itemname" placeholder="ITEM NAME">
        </div>
        <div class="entry-area">
            <input class="entry-input" type="text" name="brand" id="brand" placeholder="BRAND">
        </div>
        <div class="entry-area">
            <select class="entry-input" id=department>
                <option value="-" id="listdepartment">DEPARTMENT</option>
                <option value="IT" id="listdepartment">IT</option>
                <option value="CABLING" id="listdepartment">CABLING</option>
            </select>
        </div>
        <div class="entry-area">
            <button class="approve_btn" id="addBtn" name="addBtn">ADD</button>
        </div>
    </div>
</div>
<hr>
<div>
    <table id="toolTable">
        <thead>
            <th>ID</th>
            <th>BRAND</th>
            <th>ITEM NAME</th>
            <th>SERIAL</th>
            <th>TAG</th>
            <th>DEPARTMENT</th>
        </thead>
        <tbody></tbody>
    </table>
</div>