<div class="tab">
    <div class="entry-area">
        <button class="approve-btn tablinks" id="registerBtn" name="registerBtn"><i class="fas fa-fw fa-search"></i>
            REGISTER</button>
        <button class="approve-btn tablinks" id="stockinBtn" name="stockinBtn"><i class="fas fa-fw fa-box-open"></i>
            STOCK-IN</button>
    </div>
</div>

<div id="register" class="tabcontent">
    <div class="row">
        <div class="col-xl-5 col-lg-4">
            <div class="entry-area">
                <select class="entry-input" id=brandname>
                    <option value="-" id="listbrandname">BRAND NAME</option>
                </select>
            </div>
            <div class="entry-area">
                <select class="entry-input" id=itemtype>
                    <option value="-" id="listitemtpye">ITEM TYPE</option>
                </select>
            </div>
            <div class="entry-area">
                <input type="text" class="entry-input" id="itemcount" name="itemcount" placeholder="ITEM COUNT">
            </div>
            <div class="entry-area">
                <button class="approve-btn" id="saveBtn" name="saveBtn">REGISTER</button>
            </div>
        </div>
        <div class="col-xl-5 col-lg-4">
            <div class="entry-area">
                <input type="file" id="fileUpload" />
                <input type="button" id="upload" value="Upload" />
                <br />

                <div id="ExcelTable"></div>
            </div>
        </div>
    </div>

    <hr>
    <div>
        <table id="item-tbl">
            <thead>
                <th>ITEM BRAND</th>
                <th>ITEM TYPE</th>
                <th>ITEM COUNT</th>
                <th>UPDATE COUNT</th>
                <th>UPDATE BY</th>
                <th>UPDATE DATE</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="stockin" class="tabcontent">
    <br>
    <table id="stockin-tbl">
        <thead>
            <th>REQUEST ID</th>
            <th>REQUEST BY</th>
            <th>DATE</th>
            <th>DETAILS</th>
            <th>PURCHASING OFFICER</th>
            <th>ACCOUNTING OFFICER</th>
            <th>STATUS</th>
            <th>ACTIONS</th>
        </thead>
        <tbody></tbody>
    </table>
</div>


<!-- The Modal -->
<div id="stockinModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content modal-print-background">
        <div class="modal-button-container modal-print-background">
            <span id="stockinspan" class="close">&times;</span>
        </div>

        <div class="modal-body modal-print-background">
            <div>
                <h2 class='report-header' style="text-align: center"> PURCHASE ORDER DETAILS</h2>
                <br>
                <br>
                <div>
                    <table id="po-item-list">
                        <thead>
                            <th>PO DATE</th>
                            <th>PO NUMBER</th>
                            <th>BRAND</th>
                            <th>TYPE</th>
                            <th>QUATITY</th>
                        </thead>
                        <tbody></tbody>

                    </table>
                </div>
            </div>
        </div>

        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <button class="approve-btn" id="stockinModalBtn" name="stockinModalBtn">CONFIRM STOCKS</button>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="stockinreportModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content modal-print-background">
        <div class="modal-button-container modal-print-background">
            <span id="stockinmodalspan" class="close">&times;</span>
        </div>
        <!-- AREA TO PRINT ONLY -->
        <div id="PrintArea">
            <div class="modal-header center-content modal-print-background">
                <div class="row">
                    <div class="col-xl-3 col-lg-2">
                        <img class="logo" src="/images/img/logo.jpg" alt="...">
                    </div>
                </div>
            </div>

            <div class="center-text modal-print-background">
                <div class="modal-print-background modal-company-header">
                    <p><strong><span class="report-header">5L SOLUTIONS SUPPLY &amp; ALLIED SERVICES
                                CORP.</span></strong></p>
                </div>
                <div class="modal-print-background">
                    <p><span class="report-subheader">Phase 3B Block 18 Lot 15, Golf Drive Street Pacita
                            Complex 1,
                            City of Bi&ntilde;an, Laguna</span></p>
                </div>
                <div class="modal-print-background">
                    <p><span class="report-subheader">Tel.Nos: 273-44-69/952-15-60</span></p>
                </div>
            </div>

            <div class="modal-body modal-print-background">
                <div>
                    <h2 class='report-header' style="text-align: center"> REQUEST ITEMS</h2>
                    <br>
                    <br>

                    <div class="row modal-signature-info">
                        <div class="col-sm-6">
                            <p><strong>REQUEST ID : <span id="requestid"></span> </strong></p>
                        </div>
                    </div>

                    <div class="row modal-signature-info">
                        <div class="col-sm-6">
                            <p><strong>REQUEST DATE : <span id="requestby"></strong></p>
                        </div>
                    </div>

                    <div class="row modal-signature-info">
                        <div class="col-sm-6">
                            <p><strong>REQUEST BY : <span id="requestdate"></strong></p>
                        </div>
                    </div>

                    <div>
                        <table id="stocks-equipments-tbl">
                            <thead>
                                <th>BRANDNAME</th>
                                <th>TYPE</th>
                                <th>QUATITY</th>
                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>
                    <br>
                    <div class="row modal-signature-info">
                        <div class="col-sm-6">
                            <p><strong>PURCHASING OFFICER : <span id="purchaseofficer"> </strong></p>
                        </div>
                    </div>
                    <div class="row modal-signature-info">
                        <div class="col-sm-6">
                            <p><strong>ACCOUNTING OFFICER : <span id="accountingofficer"> </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <button class="approve-btn" id="printStockRequestBtn" name="printStockRequestBtn">PRINT</button>
        </div>
    </div>
</div>