<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-icon">
        <img src="/images/img/logo.jpg" alt="..." style="width: 60px; height:60px; border-radius: 60px;">
    </div>
    <div class="sidebar-brand-text mx-3">EIS</div>
</a>

<div id="dashboard">
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
</div>

<div id="masters">
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading sidebar-heading-txt">
        MASTER DATA
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseItem" aria-expanded="true"
            aria-controls="collapseItem">
            <i class="fas fa-fw fa-database"></i>
            <span>MASTERS</span>
        </a>
        <div id="collapseItem" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">MASTER DATA:</h6>
                <a class="collapse-item" href="/personel"><i class="fas fa-fw fa-person-booth"></i><span>
                        PERSONEL</span></a>
                <h6 class="collapse-header">ACCESS:</h6>
                <a class="collapse-item" href="/positions"><i class="fas fa-fw fa-user-alt"></i><span>
                        POSITION</span></a>
                <a class="collapse-item" href="/accounttype"><i class="fas fa-fw fa-user-check"></i><span> ACCESS
                        TYPE</span></a>

                <h6 class="collapse-header">LOCATION:</h6>
                <a class="collapse-item" href="/locations"><i class="fas fa-fw fa-map-marked"></i><span>
                        LOCATION</span></a>
                <a class="collapse-item" href="/locationtype"><i class="fas fa-fw fa-map-signs"></i><span>
                        LOCATION TYPE</span></a>

                <h6 class="collapse-header">CLIENTS:</h6>
                <a class="collapse-item" href="/clientstores"><i class="fas fa-fw fa-user-circle"></i><span>
                        CLIENT STORE</span></a>
                <a class="collapse-item" href="/clientname"><i class="fas fa-fw fa-users"></i><span>
                        CLIENT NAME</span></a>

                <h6 class="collapse-header">LOCATION:</h6>
                <a class="collapse-item" href="/warehouse"><i class="fas fa-fw fa-box"></i><span> WAREHOUSE</span></a>
                <h6 class="collapse-header">INVENTORY:</h6>
                <a class="collapse-item" href="/items"><i class="fas fa-fw fa-box"></i><span> ITEM</span></a>

                <h6 class="collapse-header">CREDENTIALS:</h6>
                <a class="collapse-item" href="/users"><i class="fas fa-fw fa-user-circle"></i><span> USERS</span></a>
            </div>
        </div>
    </li>

</div>

<div id="it">
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading sidebar-heading-txt">
        IT DEPARTMENT
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <div id="it-custodian">
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventory"
                aria-expanded="true" aria-controls="collapseInventory">
                <i class="fas fa-fw fa-money-bill-alt"></i>
                <span>STOCKS</span>
            </a>
            <div id="collapseInventory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SELECTIONS:</h6>
                    <a class="collapse-item" href="/equipment"><i class="fas fa-fw fa-file-alt"></i><span>
                            EQUIPMENTS</span></a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReportsIT"
                aria-expanded="true" aria-controls="collapseReportsIT">
                <i class="fas fa-fw fa-money-bill-alt"></i>
                <span>REPORTS</span>
            </a>
            <div id="collapseReportsIT" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SELECTIONS:</h6>
                    <a class="collapse-item" href="/equipmentreport"><i class="fas fa-fw fa-money-check"></i><span>
                            EQUIPMENTS</span></a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTransaferIT"
                aria-expanded="true" aria-controls="collapseTransaferIT">
                <i class="fas fa-fw fa-money-bill-alt"></i>
                <span>TRANSFER</span>
            </a>
            <div id="collapseTransaferIT" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SELECTIONS:</h6>
                    <a class="collapse-item" href="/transfer"><i class="fas fa-fw fa-file-alt"></i><span>
                            EQUIPMENT</span></a>
                </div>
            </div>
        </li>
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRequestIT"
            aria-expanded="true" aria-controls="collapseRequestIT">
            <i class="fas fa-fw fa-money-bill-alt"></i>
            <span>REQUEST</span>
        </a>
        <div id="collapseRequestIT" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">SELECTIONS:</h6>
                <a class="collapse-item" href="/requestequipment"><i class="fas fa-fw fa-file-alt"></i><span>
                        EQUIPMENT</span></a>
            </div>
        </div>
    </li>

</div>

<div id="cabling">
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Heading -->
    <div class="sidebar-heading sidebar-heading-txt">
        CABLING DEPARTMENT
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <div id="custodianonly">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseItemMaster"
                aria-expanded="true" aria-controls="collapseItemMaster">
                <i class="fas fa-fw fa-money-bill-wave"></i>
                <span>ITEM MASTER</span>
            </a>
            <div id="collapseItemMaster" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SELECTIONS:</h6>
                    <a class="collapse-item" href="/cablingitemmaster"><i class="fas fa-fw fa-file-alt"></i><span>
                            EQUIPMENTS</span></a>

                </div>
            </div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePulloutInventory"
                aria-expanded="true" aria-controls="collapsePulloutInventory">
                <i class="fas fa-fw fa-money-bill-wave"></i>
                <span>STOCKS</span>
            </a>
            <div id="collapsePulloutInventory" class="collapse" aria-labelledby="headingTwo"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SELECTIONS:</h6>
                    <a class="collapse-item" href="/cabling"><i class="fas fa-fw fa-file-alt"></i><span>
                            EQUIPMENTS</span></a>

                </div>
            </div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCablingReports"
                aria-expanded="true" aria-controls="collapseCablingReports">
                <i class="fas fa-fw fa-money-bill-wave"></i>
                <span>REPORTS</span>
                <div id="collapseCablingReports" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">SELECTIONS:</h6>
                        <a class="collapse-item" href="/cablingreport"><i class="fas fa-fw fa-money-check"></i><span>
                                CABLING</span></a>
                    </div>
                </div>
            </a>

        </div>

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCablingRequest"
            aria-expanded="true" aria-controls="collapseCablingRequest">
            <i class="fas fa-fw fa-money-bill-wave"></i>
            <span>REQUEST</span>
            <div id="collapseCablingRequest" class="collapse" aria-labelledby="headingTwo"
                data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SELECTIONS:</h6>
                    <a class="collapse-item" href="/cablingrequest"><i class="fas fa-fw fa-file-alt"></i><span> CABLING
                            EQUIPMENT</span></a>
                </div>
            </div>
        </a>
    </li>
</div>

<div id="cyberpower">
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Heading -->
    <div class="sidebar-heading sidebar-heading-txt">
        CYBERPOWER
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCyberpower"
            aria-expanded="true" aria-controls="collapseCyberpower">
            <i class="fas fa-fw fa-money-bill-alt"></i>
            <span>INVENTORY</span>
        </a>
        <div id="collapseCyberpower" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">SELECTIONS:</h6>
                <a class="collapse-item" href="/cyberdashboard"><i class="fas fa-fw fa-file-alt"></i><span>
                        DASHBOARD</span></a>
                <a class="collapse-item" href="/cyberrequest"><i class="fas fa-fw fa-file-alt"></i><span>
                        REQUEST</span></a>
                <a class="collapse-item" href="/cyberstocks"><i class="fas fa-fw fa-file-alt"></i><span>
                        EQUIPMENTS</span></a>
                <a class="collapse-item" href="/cyberreport"><i class="fas fa-fw fa-file-alt"></i><span>
                        REPORTS</span></a>
            </div>
        </div>
    </li>
</div>

<div id="purchasing">
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Heading -->
    <div class="sidebar-heading sidebar-heading-txt">
        PURCHASING DEPARTMENT
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePurchasing"
            aria-expanded="true" aria-controls="collapsePurchasing">
            <i class="fas fa-fw fa-money-bill-alt"></i>
            <span>PURCHASE</span>
        </a>
        <div id="collapsePurchasing" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">SELECTION:</h6>
                <a class="collapse-item" href="/purchasedashboard"><i class="fas fa-fw fa-file-alt"></i><span>
                        DASHBOARD</span></a>
                <a class="collapse-item" href="/purchaserequest"><i class="fas fa-fw fa-file-alt"></i><span>
                        REQUEST</span></a>
                <a class="collapse-item" href="/purchasereport"><i class="fas fa-fw fa-file-alt"></i><span>
                        REPORTS</span></a>
            </div>
        </div>
    </li>
</div>

<div id="accounting">
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Heading -->
    <div class="sidebar-heading sidebar-heading-txt">
        ACCOUNTING DEPARTMENT
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAccounting"
            aria-expanded="true" aria-controls="collapseAccounting">
            <i class="fas fa-fw fa-money-bill-alt"></i>
            <span>ACCOUNTING</span>
        </a>
        <div id="collapseAccounting" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">SELECTION:</h6>
                <a class="collapse-item" href="/accountingdashboard"><i class="fas fa-fw fa-file-alt"></i><span>
                        DASHBOARD</span></a>
                <a class="collapse-item" href="/accountingrequest"><i class="fas fa-fw fa-file-alt"></i><span>
                        REQUEST</span></a>
                <a class="collapse-item" href="/accountingreport"><i class="fas fa-fw fa-file-alt"></i><span>
                        REPORTS</span></a>
            </div>
        </div>
    </li>
</div>

<div id="tracker">
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Heading -->
    <div class="sidebar-heading sidebar-heading-txt">
        TRACKER
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTransactions"
            aria-expanded="true" aria-controls="collapseTransactions">
            <i class="fas fa-fw fa-money-bill-alt"></i>
            <span>EQUIPMENTS</span>
        </a>
        <div id="collapseTransactions" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">SELECTIONS:</h6>
                <a class="collapse-item" href="/equipmenttransactions"><i class="fas fa-fw fa-file-alt"></i><span>
                        EQUIPMENT</span></a>
            </div>
        </div>
    </li>
</div>



<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>