<script>
    $(document).ready(function () {
        let requestid = '';
        let requestby = '';
        let requestdate = '';
        let remarks = '';
        let budgetrequest = '';
        let detailrequest = '';
        let data = [];
        LoadTableData();

        function LoadTableData() {
            //#region REQUEST STOCKS - CABLING
            stocksrequest = $('#stocks-request-tbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/purchasedashboard/load',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = '';
                            var details = '';
                            var detailsjson = JSON.parse(item.details);
                            var status = item.status;
                            var budget = parseFloat(item.totalbudget);

                            $.each(detailsjson, (key, item) => {
                                console.log(`${item.brandname} ${item.itemtype} ${item.itemcount}`);
                                details += `${item.brandname}${item.itemtype}@${item.itemcount}<br>`;
                            })

                            if (status == 'PENDING') {
                                action = '<button class="assign-btn" id="assignBtn" name="assignBtn">APPROVE</button>'
                            }
                            if (status == 'REQUEST BUDGET') {
                                action = `<button class="approve-btn" id="printBtn" name="printBtn">REQUEST</button><br>
                                <button class="approve-btn" id="generateBtn" name="generateBtn">GENERATE</button><br>
                                <button class="approve-btn" id="editBtn" name="editBtn">DETAILS</button><br>
                                <button class="edit-btn" id="requestBudgetBtn" name="requestBudgetBtn">BUDGET</button>`
                            }
                            if (status == 'WAITING') {
                                action = '<button class="approve-btn" id="cancelRequestBtn" name="cancelRequestBtn">CANCEL</button>'
                            }
                            if (status == 'APPROVED') {
                                action = '<button class="approve-btn" id="printBtn" name="printBtn">PRINT</button>'
                            }

                            budget = `₱ ${(budget).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`;

                            finalData.push({
                                requestid: item.requestid,
                                requestby: item.requestby,
                                requestdate: item.requestdate,
                                details: details,
                                totalbudget: budget,
                                remarks: item.remarks,
                                status: item.status,
                                action: action
                            })

                            details = '';
                        })

                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'requestid' },
                    { data: 'requestby' },
                    { data: 'requestdate' },
                    { data: 'details' },
                    { data: 'totalbudget' },
                    { data: 'remarks' },
                    { data: 'status' },
                    {
                        data: 'action'
                        // data: null, title: 'Action', wrap: false, "render": function () {

                        // }
                    }
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
            //#endregion

            //#region CYBERPOWER
            cyberpowerstocksrequest = $('#cyber-stocks-request-tbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/purchasedashboard/loadcyberpowerrequest',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = '';
                            var details = '';
                            var detailsjson = JSON.parse(item.details);
                            var status = item.status;
                            var budget = parseFloat(item.totalbudget);

                            $.each(detailsjson, (key, item) => {
                                console.log(`${item.modelname} ${item.itemtype} ${item.itemcount}`);
                                details += `${item.modelname}${item.itemtype}@${item.itemcount}<br>`;
                            })

                            if (status == 'PND') {
                                action = '<button class="assign-btn" id="assigncyberBtn" name="assigncyberBtn">ASSIGN COST</button>'
                            }
                            if (status == 'ALLOCP') {
                                action = '<button class="approve-btn" id="printcyberBtn" name="printcyberBtn">PRINT</button><br><button class="approve-btn" id="editcyberBtn" name="editcyberBtn">EDIT</button><br><button class="edit-btn" id="requestcyberBudgetBtn" name="requestcyberBudgetBtn">REQUEST BUDGET</button>'
                            }
                            if (status == 'REQB') {
                                action = '<button class="approve-btn" id="cancelcyberRequestBtn" name="cancelcyberRequestBtn">CANCEL</button>'
                            }
                            if (status == 'APD') {
                                action = '<button class="approve-btn" id="printcyberBtn" name="printcyberBtn">PRINT</button>'
                            }

                            budget = `₱ ${(budget).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`;

                            finalData.push({
                                requestid: item.requestid,
                                requestby: item.requestby,
                                requestdate: item.requestdate,
                                details: details,
                                totalbudget: budget,
                                remarks: item.remarks,
                                status: item.status,
                                action: action
                            })

                            details = '';
                        })

                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'requestid' },
                    { data: 'requestdate' },
                    { data: 'requestby' },
                    { data: 'details' },
                    { data: 'totalbudget' },
                    { data: 'remarks' },
                    { data: 'status' },
                    {
                        data: 'action'
                        // data: null, title: 'Action', wrap: false, "render": function () {

                        // }
                    }
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
            //#endregion
        }

        //#region MODAL CABLING
        var stocksmodal = document.getElementById("stocksrequestModal");
        var equipmentrequestmodal = document.getElementById("equipmentrequestModal");

        var stocksmodalspan = document.getElementById("stocksrequest");
        var equipmentrequestspan = document.getElementById("equipmentrequestrequest");

        var requestapproveModal = document.getElementById("requestapproveModal");
        var requestapprovespan = document.getElementById("requestapprovespan");

        var GeneratePOModal = document.getElementById("GeneratePOModal");
        var GeneratePOModalSpan = document.getElementById("GeneratePOModalSpan");

        GeneratePOModalSpan.onclick = function () {
            GeneratePOModal.style.display = "none";
        }

        stocksmodalspan.onclick = function () {
            stocksmodal.style.display = "none";
        }

        equipmentrequestspan.onclick = function () {
            equipmentrequestmodal.style.display = "none";
        }

        requestapprovespan.onclick = function () {
            requestapproveModal.style.display = "none";
        }

        window.onclick = function () {
            if (event.target == stocksmodal) {
                stocksmodal.style.display = "none";
            }

            if (event.target == equipmentrequestmodal) {
                equipmentrequestmodal.style.display = "none";
            }

            if (event.target == requestapproveModal) {
                requestapproveModal.style.display = "none";
            }

            if (event.target == POEquimentModal) {
                POEquimentModal.style.display = "none";
            }

            if (event.target == GeneratePOModal) {
                GeneratePOModal.style.display = "none";
            }
        }


        $('#stocks-request-tbl tbody').on('click', 'tr', function (e) {
            // var data = stocksrequest.row(this).data();
            var data = [];

            $(this).closest('tr').find('td').each(function () {
                data.push([$(this).text()]);

            });

            console.log(data);

            requestid = data[0];
            requestdate = data[1];
            requestby = data[2];
            detailrequest = data[3];
            budgetrequest = data[4];
            remarks = data[5]

            data = [];

            // budgetrequest = budgetrequest.replace(/₱ /g,'');
            // budgetrequest = budgetrequest.replace(/,/g,'');
            // detailrequest = detailrequest.replace(/<br>/g,'')
            // console.log(data);
        })

        let currentrow = '';
        $('#modal-stocks-request-tbl tbody').on('click', 'tr', function (e) {
            var data = [];
            currentrow = $(this).closest('tr');
            $(this).closest('tr').find('td').each(function () {
                data.push([$(this).text()]);

            });

            // e.preventDefault();

            // if ($(this).attr('edit_type') == 'button') {
            //     return false;
            // }

            // //make div editable
            // $(this).closest('div').attr('contenteditable', 'true');
            // //add bg css
            // $(this).addClass('edit-cost').css('padding', '5px');

            // $(this).focus();
        });

        $(document).on('click', '#removeBtn', function () {
            currentrow.remove();
        })

        $(document).on('click', "#printStocksBtn", function () {
            stocksmodal.style.display = "block";
        })

        $(document).on('change click', '#supllierlist', function () {
            var suppliername = $('#supllierlist').val();

            $.ajax({
                type: "POST",
                url: "/supplier/getsupplierlocation",
                data: {
                    department: 'CABLING',
                    suppliername: suppliername
                },
                success: function (result) {
                    console.log(result.data);
                    var data = result.data;

                    $.each(data, function (key, item) {
                        const _inputLocation = document.getElementById('supplierlocation');
                        _inputLocation.value = item.location;
                    });
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });
        })

        $(document).on('click', '#poBtn', function () {
            var suppliername = $('#supllierlist').val();
            var location = $('#supplierlocation').val();

            console.log('clicked!');
            $.ajax({
                type: 'POST',
                url: '/purchasereport/save',
                data: {
                    suppliername: suppliername,
                    location: location,
                    requestid: requestid
                },
                success: function (result) {
                    GeneratePOModal.style = 'none';
                    success('Success', 'Data Saved!');
                },
                error: function (error) {
                    error(error);
                }
            })
        })

        $(document).on('click', '#generateBtn', function () {
            $("#supllierlist").empty();
            $.ajax({
                type: "POST",
                url: "/supplier/getsupplier",
                data: { department: 'CABLING' },
                success: function (result) {
                    console.log(result.data);
                    var data = result.data;

                    $.each(data, function (key, item) {
                        var options = new Option(item.suppliername, item.suppliername);
                        $(options).html(item.suppliername);
                        $('#supllierlist').append(options);
                        console.log(item.suppliername);
                    });
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });
            GeneratePOModal.style.display = "block";
        })

        $(document).on('click', "#assignBtn", function () {

            var requestitemTabel = $('#modal-approve-restock-list-tbl').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            $.ajax({
                type: "POST",
                url: "/purchasedashboard/getdetails",
                data: { requestid: requestid },
                success: function (result) {
                    requestitemTabel.clear().draw();
                    var data = result.data;

                    // console.log(result.data);
                    $.each(data, (key, item) => {
                        var datajson = JSON.parse(item.details);
                        // console.log(datajson);
                        $.each(datajson, (key, item) => {
                            var brandname = item.brandname;
                            var itemtype = item.itemtype;
                            var itemcount = item.itemcount;
                            var department = 'CABLING';

                            $.ajax({
                                type: 'POST',
                                url: '/purchasepricemaster/getprice',
                                data: {
                                    brandname: brandname,
                                    itemtype: itemtype,
                                    department: department,
                                },
                                success: function (result) {
                                    var data = result.data;
                                    $.each(data, (key, value) => {
                                        var currentprice = value.currentprice;
                                        requestitemTabel.row.add([brandname, itemtype, itemcount, currentprice]).draw(false);
                                    })

                                    if (data.length == 0) {
                                        requestitemTabel.row.add([brandname, itemtype, itemcount, '']).draw(false);
                                    }

                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            });


                        })
                    })
                },
                error: function (result) {
                    error('error: ' + result);
                }
            });

            requestapproveModal.style.display = "block";
        })

        $(document).on('change click', "#brandlist", function () {
            var brandname = $('#brandlist').val();
            $("#itemlist").empty();

            $.ajax({
                type: "POST",
                url: "/items/itemtype",
                data: { brandname: brandname },
                success: function (result) {
                    var data = result.data;
                    console.log(result.data);

                    $.each(data, function (key, item) {
                        var options = new Option(item.itemname, item.itemname);
                        $(options).html(item.itemname);
                        $('#itemlist').append(options);
                        console.log(item.itemname);
                    });
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });
        });

        $(document).on('change click', "#itemlist", function () {
            var brandname = $('#brandlist').val();
            var itemtype = $('#itemlist').val();
            $("#cost").empty();

            $.ajax({
                type: "POST",
                url: "/purchasepricemaster/getprice",
                data: {
                    brandname: brandname,
                    itemtype: itemtype,
                    department: 'CABLING',
                },
                success: function (result) {
                    var data = result.data;
                    console.log(result.data);
                    const _const = document.getElementById('cost');

                    if (data.length != 0) {
                        $.each(data, function (key, item) {
                            _const.value = item.currentprice
                        });
                    } else {
                        warning('No Data', `Need to add current price for ${brandname} - ${itemtype}. Go to PURCHASE >> PRICE MASTER`)
                    }

                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });
        });

        $(document).on('click', '#addEquipmentBtn', function () {
            var data = $("#modal-stocks-request-tbl tr");
            var brand = $('#brandlist').val();
            var type = $('#itemlist').val();
            var quantity = $('#quantity').val();
            var cost = $('#cost').val();
            var dataArr = [];
            var message = '';

            if (brand == '-') { message += 'BRAND ' }
            if (type == '-') { message += 'TYPE ' }
            if (quantity == '') { message += 'QUANTITY ' }
            if (cost == '') { message += 'COST ' }

            if (message != '') {
                warning('Warning', `Please fill-up ${message}`);
            }
            else {
                console.log(data.length);
                var index = 1;
                for (x = 0; x < data.length; x++) {
                    // console.log(header[x].innerText);
                    console.log(data[x].innerText);
                    var innerData = data[x].innerText;
                    innerData = innerData.split("\t");

                    if (innerData[0] == brand && innerData[1] == type) {
                        return warning('Already Exist', `Already request ${brand}[${type}] quantity ${innerData[2]}`);
                    }
                }

                console.log(dataArr);

                requestitemTabel = document.getElementById("modal-stocks-request-tbl");
                var row = requestitemTabel.insertRow(1);
                var _BRAND = row.insertCell(0);
                var _TYPE = row.insertCell(1);
                var _QUANTITY = row.insertCell(2);
                var _COST = row.insertCell(3);
                var _ACTION = row.insertCell(4);
                var action = `<button class="circle-btn" id="removeBtn" name="removeBtn">
                                                <div class="delete-line"></div>
                                            </button>`;

                _BRAND.innerHTML = brand;
                _TYPE.innerHTML = type;
                _QUANTITY.innerHTML = quantity;
                _COST.innerHTML = cost;
                _ACTION.innerHTML = action;
            }
        })

        $(document).on('click', "#editBtn", function () {
            var requestitemTabel = $('#modal-stocks-request-tbl').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            $("#brandlist").empty();

            $.ajax({
                type: "POST",
                url: "/items/brandnamedepartment",
                data: { department: 'CABLING' },
                success: function (result) {
                    console.log(result.data);
                    var data = result.data;

                    $.each(data, function (key, item) {
                        var options = new Option(item.brandname, item.brandname);
                        $(options).html(item.brandname);
                        $('#brandlist').append(options);
                        console.log(item.brandname);
                    });
                },
                error: function (result) {
                    alert('error: ' + result.data);
                }
            });

            $.ajax({
                type: "POST",
                url: "/purchasedashboard/getdetailitems",
                data: { requestid: requestid },
                success: function (result) {
                    requestitemTabel.clear().draw();
                    var data = result.data;
                    var action = `<button class="circle-btn" id="removeBtn" name="removeBtn">
                                                <div class="delete-line"></div>
                                            </button>`;

                    // console.log(result.data);
                    $.each(data, (key, item) => {
                        requestitemTabel.row.add([item.brandname, item.itemtype, item.quantity, item.cost, action]).draw(false);
                    })
                },
                error: function (result) {
                    error('error: ' + result);
                }
            });

            equipmentrequestmodal.style.display = "block";
        })

        $(document).on('click', "#requestBudgetBtn", function () {

            $.ajax({
                type: "POST",
                url: "/purchasedashboard/requestbudget",
                data: {
                    requestid: requestid,
                    budget: budgetrequest,
                    details: detailrequest,
                },
                success: function (result) {
                    success('Success', 'Request Successfully!')
                    LoadTableData();
                },
                error: function (result) {
                    error('error: ' + result);
                }
            });
        })

        $(document).on('click', "#printBtn", function () {
            var requestitemTabel = $('#stocks-equipments-tbl').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            $.ajax({
                type: "POST",
                url: "/purchasedashboard/gettransactionpurchseitems",
                data: { requestid: requestid },
                success: function (result) {
                    requestitemTabel.clear().draw();
                    var data = result.data;
                    var totalcost = 0;
                    var officer = '';
                    var date = '';

                    // console.log(result.data);
                    $.each(data, (key, item) => {
                        var cost = parseFloat(item.cost);
                        var subtotal = parseFloat(item.subtotal);
                        cost = `₱ ${(cost).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`;
                        subtotal = `₱ ${(subtotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`;

                        requestitemTabel.row.add([item.brandname, item.itemtype, item.quantity, cost, subtotal]).draw(false);

                        totalcost += parseFloat(item.subtotal);
                        officer = item.purchasingofficer;
                        date = item.purchasedate;
                    })

                    totalcost = `₱ ${(totalcost).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`;

                    document.getElementById('requestid').innerText = requestid;
                    document.getElementById('requestby').innerText = requestby;
                    document.getElementById('requestdate').innerText = requestdate;
                    document.getElementById('remarks').innerText = remarks;
                    document.getElementById('totalcost').innerText = totalcost;
                    document.getElementById('officer').innerText = officer;
                    document.getElementById('date').innerText = date;

                    document.getElementById('officersig').innerText = officer;
                    document.getElementById('datesig').innerText = date;
                    document.getElementById('requestbysig').innerText = requestby;
                    document.getElementById('requestdatesig').innerText = requestdate;
                },
                error: function (result) {
                    error('error: ' + result);
                }
            });
            stocksmodal.style.display = "block";
        })

        $(document).on('click', "#printStockRequestBtn", function () {
            console.log('clicked!');
            var printContents = document.getElementById('PrintArea').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            document.title=`MATERIAL_REQUEST_LIST_${requestby}`;
            window.print();
            document.body.innerHTML = originalContents;
            location.reload();
        })

        $(document).on('click', "#saveRequestStocksBtn", async function () {
            console.log('clicked!');
            var data = $('#modal-approve-restock-list-tbl tr');
            var dataRaw = [];
            console.log(data);
            console.log(data.length);
            var message = '';
            var est_budget = 0;
            var purchaseDetails = [];

            var index = 1;
            for (x = 1; x < data.length; x++) {
                console.log(data[x].innerText);
                var innerData = data[x].innerText;
                innerData = innerData.split("\t");

                if (innerData[3] == "") {
                    message += `${innerData[1]}, `;
                } else {
                    dataRaw.push({
                        brandname: innerData[0],
                        itemtype: innerData[1],
                        itemcount: innerData[2],
                        itemcost: innerData[3],
                    });

                    est_budget += (parseFloat(innerData[3]) * parseFloat(innerData[2]));
                    index += 1;
                }

            }

            console.log(est_budget);

            if (message != "") {
                warning(`ITEM/S: ${message} cost per piece not assigned!`)
            } else {
                // console.log(dataRaw);
                dataRaw = JSON.stringify(dataRaw, null, 2);

                console.log(`${requestby} ${requestdate}`)

                $.ajax({
                    type: "POST",
                    url: "/purchasedashboard/updatestockrequest",
                    data: {
                        requestid: requestid,
                        requestby: requestby,
                        requestdate: requestdate,
                        totalcost: est_budget,
                        details: dataRaw
                    },
                    success: function (result) {
                        requestapproveModal.style.display = "NONE";
                        equipmentrequestmodal.style.display = 'NONE';
                        success('Saved!', 'Data Saved!');
                        LoadTableData();
                    },
                    error: function (result) {
                        error('error: ' + result);
                    }
                });
            }
        });

        $(document).on('click', '#saveUpdateDetails', function () {
            var data = $('#modal-stocks-request-tbl tr');
            var message = '';
            var dataRaw = [];
            var est_budget = 0;

            var index = 1;
            for (x = 1; x < data.length; x++) {
                console.log(data[x].innerText);
                var innerData = data[x].innerText;
                innerData = innerData.split("\t");

                if (innerData[3] == "") {
                    message += `${innerData[1]}, `;
                } else {
                    dataRaw.push({
                        brandname: innerData[0],
                        itemtype: innerData[1],
                        itemcount: innerData[2],
                        itemcost: innerData[3],
                    });

                    est_budget += (parseFloat(innerData[3]) * parseFloat(innerData[2]));
                    index += 1;
                }
            }


            if (message != "") {
                warning(`ITEM/S: ${message} cost per piece not assigned!`)
            } else {
                // console.log(dataRaw);
                dataRaw = JSON.stringify(dataRaw, null, 2);

                console.log(`${requestby} ${requestdate}`)

                requestapproveModal.style.display = "NONE";
                equipmentrequestmodal.style.display = 'NONE';

                showloader();
                $.ajax({
                    type: "POST",
                    url: "/purchasedashboard/updaterequest",
                    data: {
                        requestid: requestid,
                        requestby: requestby,
                        requestdate: requestdate,
                        totalcost: est_budget,
                        details: dataRaw
                    },
                    success: function (result) {

                        success('Saved!', 'Data Saved!');
                        LoadTableData();
                        hideload();
                    },
                    error: function (result) {
                        error('error: ' + result);
                    }
                });

            }
        })
        //#endregion

        //#region CYBERPOWER
        let cyber_requestid = '';
        let cyber_requestdate = '';
        let cyber_requestby = '';
        let cyber_detailrequest = '';
        let cyber_budgetrequest = '';
        let cyber_remarks = '';
        var modal = document.getElementById("cyberstockrequestModal");
        var span = document.getElementById("cyberstockspan");

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function () {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        $('#cyber-stocks-request-tbl').on('click', 'tr', function (e) {
            // var data = stocksrequest.row(this).data();
            var data = [];
            $(this).closest('tr').find('td').each(function () {
                data.push([$(this).text()]);

            });

            console.log(data);

            cyber_requestid = data[0];
            cyber_requestdate = data[1];
            cyber_requestby = data[2];
            cyber_detailrequest = data[3];
            cyber_budgetrequest = data[4];
            cyber_remarks = data[5]

            data = [];

            // budgetrequest = budgetrequest.replace(/₱ /g,'');
            // budgetrequest = budgetrequest.replace(/,/g,'');
            // detailrequest = detailrequest.replace(/<br>/g,'')
            // console.log(data);
        })

        $('#modal-cyber-stocks-request-tbl tbody').on('click', 'tr', function (e) {
            e.preventDefault();

            if ($(this).attr('edit_type') == 'button') {
                return false;
            }

            //make div editable
            $(this).closest('div').attr('contenteditable', 'true');
            //add bg css
            $(this).addClass('edit-cost').css('padding', '5px');

            $(this).focus();
        });

        $(document).on('click', "#assigncyberBtn", function () {

            var requestitemTabel = $('#modal-cyber-stocks-request-tbl').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            $.ajax({
                type: "POST",
                url: "/purchasedashboard/getcyberdetails",
                data: { requestid: cyber_requestid },
                success: function (result) {
                    requestitemTabel.clear().draw();
                    var data = result.data;

                    console.log(result.data);
                    $.each(data, (key, item) => {
                        var datajson = JSON.parse(item.details);
                        // console.log(datajson);
                        $.each(datajson, (key, item) => {
                            var modelname = item.modelname;
                            var itemtype = item.itemtype;
                            var itemcount = item.itemcount;
                            var department = 'CYBERPOWER';

                            $.ajax({
                                type: 'POST',
                                url: '/purchasepricemaster/getprice',
                                data: {
                                    brandname: modelname,
                                    itemtype: itemtype,
                                    department: department,
                                },
                                success: function (result) {
                                    var data = result.data;
                                    $.each(data, (key, value) => {
                                        var currentprice = value.currentprice;
                                        requestitemTabel.row.add([modelname, itemtype, itemcount, currentprice]).draw(false);
                                    })

                                    if (data.length == 0) {
                                        requestitemTabel.row.add([modelname, itemtype, itemcount, '']).draw(false);
                                    }

                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            });
                        })
                    })
                },
                error: function (result) {
                    error('error: ' + result);
                }
            });

            modal.style.display = "block";
        })

        $(document).on('click', "#printcyberBtn", function () {
            var requestitemTabel = $('#stocks-equipments-tbl').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            $.ajax({
                type: "POST",
                url: "/purchasedashboard/getcybertransactionpurchseitems",
                data: { requestid: cyber_requestid },
                success: function (result) {
                    requestitemTabel.clear().draw();
                    var data = result.data;
                    var totalcost = 0;
                    var officer = '';
                    var date = '';

                    // console.log(result.data);
                    $.each(data, (key, item) => {
                        var cost = parseFloat(item.cost);
                        var subtotal = parseFloat(item.subtotal);
                        cost = `₱ ${(cost).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`;
                        subtotal = `₱ ${(subtotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`;

                        requestitemTabel.row.add([item.modelname, item.itemtype, item.quantity, cost, subtotal]).draw(false);

                        totalcost += parseFloat(item.subtotal);
                        officer = item.purchasingofficer;
                        date = item.purchasedate;
                    })

                    totalcost = `₱ ${(totalcost).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`;

                    document.getElementById('requestid').innerText = cyber_requestid;
                    document.getElementById('requestby').innerText = cyber_requestby;
                    document.getElementById('requestdate').innerText = cyber_requestdate;
                    document.getElementById('remarks').innerText = cyber_remarks;
                    document.getElementById('totalcost').innerText = totalcost;
                    document.getElementById('officer').innerText = officer;
                    document.getElementById('date').innerText = date;

                    document.getElementById('officersig').innerText = officer;
                    document.getElementById('datesig').innerText = date;
                    document.getElementById('requestbysig').innerText = cyber_requestby;
                    document.getElementById('requestdatesig').innerText = cyber_requestdate;
                },
                error: function (result) {
                    error('error: ' + result);
                }
            });
            stocksmodal.style.display = "block";
        })

        $(document).on('click', "#editcyberBtn", function () {
            var requestitemTabel = $('#modal-cyber-stocks-request-tbl').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            $.ajax({
                type: "POST",
                url: "/purchasedashboard/getcyberdetails",
                data: { requestid: cyber_requestid },
                success: function (result) {
                    requestitemTabel.clear().draw();
                    var data = result.data;

                    console.log(result.data);
                    $.each(data, (key, item) => {
                        var datajson = JSON.parse(item.details);
                        console.log(datajson);
                        $.each(datajson, (key, item) => {
                            requestitemTabel.row.add([item.modelname, item.itemtype, item.itemcount, item.itemcost]).draw(false);
                        })
                    })
                },
                error: function (result) {
                    error('error: ' + result);
                }
            });

            modal.style.display = "block";
        })

        $(document).on('click', "#requestcyberBudgetBtn", function () {
            $.ajax({
                type: "POST",
                url: "/purchasedashboard/cyberrequestbudget",
                data: {
                    requestid: cyber_requestid,
                    budget: cyber_budgetrequest,
                    details: cyber_detailrequest,
                },
                success: function (result) {
                    success('Success', 'Request Successfully!')
                    LoadTableData();
                },
                error: function (result) {
                    error('error: ' + result);
                }
            });
        })

        $(document).on('click', "#cancelcyberRequestBtn", function () {

        })

        $(document).on('click', "#saveCyberRequestStocksBtn", function () {
            console.log('clicked!');
            var data = $('#modal-cyber-stocks-request-tbl tr');
            var dataRaw = [];
            console.log(data);
            console.log(data.length);
            var message = '';
            var est_budget = 0;
            var purchaseDetails = [];

            var index = 1;
            for (x = 1; x < data.length; x++) {
                console.log(data[x].innerText);
                var innerData = data[x].innerText;
                innerData = innerData.split("\t");

                if (innerData[3] == "") {
                    message += `${innerData[1]}, `;
                } else {
                    dataRaw.push({
                        modelname: innerData[0],
                        itemtype: innerData[1],
                        itemcount: innerData[2],
                        itemcost: innerData[3],
                    });

                    est_budget += (parseFloat(innerData[3]) * parseFloat(innerData[2]));
                    index += 1;
                }

            }

            if (message != "") {
                warning(`ITEM/S: ${message} cost prt piece not assigned!`)
            } else {
                // console.log(dataRaw);
                dataRaw = JSON.stringify(dataRaw, null, 2);

                console.log(`DATA: ${dataRaw}`)

                $.ajax({
                    type: "POST",
                    url: "/purchasedashboard/updatecyberstockrequest",
                    data: {
                        requestid: cyber_requestid,
                        requestby: cyber_requestby,
                        requestdate: cyber_requestdate,
                        totalcost: est_budget,
                        data: dataRaw
                    },
                    success: function (result) {
                        success('Saved!', 'Data Saved!');
                        LoadTableData();
                    },
                    error: function (result) {
                        error('error: ' + result);
                    }
                });
            }
            modal.style.display = 'none';
        })

        //#endregion
    })
</script>