<div id="dtbox"></div>
<div class="row">
    <div class="col-xl-4 col-lg-4">
        <div class="entry-area">
            <input class="entry-input" type="text" data-field="date" placeholder="DATE FROM" readonly id="datefrom"
                name="datefrom">
        </div>

        <div class="entry-area">
            <input class="entry-input" type="text" data-field="date" placeholder="DATE TO" readonly id="dateto"
                name="dateto">
        </div>

        <div class=" entry-area">
            <button class="approve-btn" id="searchBtn" name="searchBtn">SEARCH</button>
        </div>
    </div>
</div>
<hr>
<div>
    <table id="porequest-table">
        <thead>
            <th>ID</th>
            <th>PO NUMBER</th>
            <th>SUPPLIER</th>
            <th>LOCATION</th>
            <th>DETAILS</th>
            <th>DATE</th>
            <th>ACTIONS</th>
        </thead>
        <tbody></tbody>
    </table>
</div>


<!-- The Modal -->
<div id="POEquimentModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content modal-print-background">
        <div class="modal-button-container modal-print-background">
            <span id="POEquimentModalSpan" class="close">&times;</span>
        </div>
        <!-- AREA TO PRINT ONLY -->
        <div id="PrintArea">
            <div class="modal-header center-content modal-print-background">
                <div class="row">
                    <div class="col-xl-3 col-lg-2">
                        <img class="logo" src="/images/img/logo.jpg" alt="...">
                    </div>
                </div>
            </div>

            <div class="center-text modal-print-background">
                <div class="modal-print-background modal-company-header">
                    <p><strong><span class="report-header">5L SOLUTIONS SUPPLY &amp; ALLIED SERVICES
                                CORP.</span></strong></p>
                </div>
                <div class="modal-print-background">
                    <p><span class="report-subheader">Phase 3B Block 18 Lot 15, Golf Drive Street Pacita
                            Complex 1,
                            City of Bi&ntilde;an, Laguna</span></p>
                </div>
                <div class="modal-print-background">
                    <p><span class="report-subheader">Tel.Nos: 273-44-69/952-15-60</span></p>
                </div>
            </div>

            <div class="modal-body modal-print-background">
                <div>
                    <h2 class='report-header' style="text-align: center"> PURCHASE ORDER</h2>
                    <br>
                    <br>

                    <div class="row modal-signature-info">
                        <div class="col-sm-6">
                            <p><strong>Date/Time: <span id="podate"></span> </strong></p>
                        </div>
                    </div>

                    <div class="row modal-signature-info">
                        <div class="col-sm-6">
                            <p><strong>P.O #: <span id="ponumber"></strong></p>
                        </div>
                    </div>

                    <div class="row modal-signature-info">
                        <div class="col-sm-6">
                            <p><strong>Company: <span id="company"></span></strong></p>
                        </div>
                    </div>

                    <div class="row modal-signature-info">
                        <div class="col-sm-6">
                            <p><strong>Location: <span id="location"></span></strong></p>
                        </div>
                    </div>

                    <div class="center-text">
                        <p><strong>This serves as Purchase Request for the below items.</strong></p>
                    </div>
                    <div>
                        <table id="po-equipments-tbl">
                            <thead>
                                <th>ITEM</th>
                                <th>Description</th>
                                <th>QTY</th>
                                <th>Unit Price</th>
                                <th>Sub Total</th>
                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>
                    <br>
                    <br>
                    <div class="row modal-signature-info">
                        <div class="col-sm-6">
                            <p><strong>Prepared by:</strong> <span id="custodian"></span></p>
                        </div>
                    </div>
                    <div class="row modal-signature-info">
                        <div class="col-sm-6">
                            <p><strong>Approved by:</strong> <span id="officer"></span></p>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <button class="approve-btn" id="POEquimentModalPrintBtn" name="POEquimentModalPrintBtn">PRINT</button>
        </div>
    </div>
</div>