<script>
    $(document).ready(function () {
        let _requestid = '';

        $("#dtbox").DateTimePicker({
            dateFormat: "yyyy-MM-dd"
        });

        var modal = document.getElementById("printModal");
        var span = document.getElementById("printmodalspan");

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        $('#equipment-request-tbl tbody').on('click', 'tr', function (e) {
            var data = [];
            $(this).closest('tr').find('td').each(function () {
                data.push([$(this).text()]);

            });

            console.log(data);

            _requestid = data[0];
        })

        $(document).on('click', "#printBtn", function () {
            var requestitemTabel = $('#request-equipments-tbl').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }]
            });

            $.ajax({
                type: "POST",
                url: "/cyberreport/gettransaction",
                data: { requestid: _requestid },
                success: function (result) {
                    requestitemTabel.clear().draw();
                    var data = result.data;
                    var receipt = '';
                    var serilal_list = '';

                    console.log(data);
                    $.each(data, (key, item) => {
                        var serials = item.unitserial;

                        console.log(item.clientname);

                        if (item.ponumber != '') { receipt += `PO-${item.ponumber} ` }
                        if (item.drnumber != '') { receipt += `DR-${item.drnumber} ` }
                        if (item.sinumber != '') { receipt += `SI-${item.sinumber} ` }
                        if (item.crnumber != '') { receipt += `CR-${item.crnumber} ` }

                        serials = JSON.parse(serials);
                        $.each(serials, (key, value) => {
                            serilal_list += `${value.serial}, `;
                        })

                        requestitemTabel.row.add([item.modelname, item.itemtype, item.quantity, serilal_list]).draw(false);

                        document.getElementById('transactionid').innerText = item.transactionid;
                        document.getElementById('transactiondate').innerText = item.transactiondate;
                        document.getElementById('client').innerText = item.clientname;
                        document.getElementById('receipt').innerText = receipt;
                    })

                },
                error: function (result) {
                    error('error: ' + result);
                }
            });
            modal.style.display = "block";
        })

        $(document).on('click', "#printReportBtn", function () {
            console.log('clicked!');
            var printContents = document.getElementById('PrintArea').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
            location.reload();
        })

        $(document).on('click', "#requesttab", function () {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById('request').style.display = "block";
            // evt.currentTarget.className += " active";

            EquipmentRequestTable();
        });

        $(document).on('click', "#searchBtn", function () {
            let datefrom = $('#datefrom').val();
            let dateto = $('#dateto').val();

            showloader();
            dataTable = $('#equipment-request-tbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'POST',
                'ajax': {
                    'url': '/cyberreport/searchrequest',
                    'data':{
                        firstdate: datefrom,
                        lastdate: dateto,
                    },
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;
                        var details = '';
                        var createddate = '';
                        var status = '';
                        var requestby = '';
                        var remarks = '';
                        var clientname = '';
                        var requestid = '';
                        var action = '';

                        console.log(data);
                        $.each(data, (key, item) => {
                            requestby = item.requestby;
                            requestdate = item.requestdate;
                            status = item.status;
                            remarks = item.remarks;
                            clientname = item.clientname;
                            requestid = item.requestid;

                            // console.log(item.details);
                            var dataJson = JSON.parse(item.details)
                            $.each(dataJson, (key, item) => {
                                console.log(`BRAND: ${item.modelname} ITEM TYPE: ${item.itemtype} ITEM COUNT: ${item.itemcount}`);
                                details += `BRAND: ${item.modelname} ITEM TYPE: ${item.itemtype} ITEM COUNT: ${item.itemcount}<br/>`;
                            })

                            if (status == 'PD') { action = `<button class="autorize-btn" id="printBtn" name="printBtn">PRINT</button>`; }

                            finalData.push({
                                requestid: requestid,
                                requestby: requestby,
                                requestdate: requestdate,
                                clientname: clientname,
                                details: details,
                                remarks: remarks,
                                action: action,
                            })

                            details = '';
                        })

                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [

                    { data: 'requestid' },
                    { data: 'requestby' },
                    { data: 'requestdate' },
                    { data: 'clientname' },
                    { data: 'details' },
                    { data: 'remarks' },
                    { data: 'action' },
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
        })
        function EquipmentRequestTable() {
            showloader();
            dataTable = $('#equipment-request-tbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/cyberrequest/requestreport',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;
                        var details = '';
                        var createddate = '';
                        var status = '';
                        var requestby = '';
                        var remarks = '';
                        var clientname = '';
                        var requestid = '';
                        var action = '';

                        console.log(data);
                        $.each(data, (key, item) => {
                            requestby = item.requestby;
                            requestdate = item.requestdate;
                            status = item.status;
                            remarks = item.remarks;
                            clientname = item.clientname;
                            requestid = item.requestid;

                            // console.log(item.details);
                            var dataJson = JSON.parse(item.details)
                            $.each(dataJson, (key, item) => {
                                console.log(`BRAND: ${item.modelname} ITEM TYPE: ${item.itemtype} ITEM COUNT: ${item.itemcount}`);
                                details += `BRAND: ${item.modelname} ITEM TYPE: ${item.itemtype} ITEM COUNT: ${item.itemcount}<br/>`;
                            })

                            if (status == 'PD') { action = `<button class="autorize-btn" id="printBtn" name="printBtn">PRINT</button>`; }

                            finalData.push({
                                requestid: requestid,
                                requestby: requestby,
                                requestdate: requestdate,
                                clientname: clientname,
                                details: details,
                                remarks: remarks,
                                action: action,
                            })

                            details = '';
                        })

                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [

                    { data: 'requestid' },
                    { data: 'requestby' },
                    { data: 'requestdate' },
                    { data: 'clientname' },
                    { data: 'details' },
                    { data: 'remarks' },
                    { data: 'action' },
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
        }
    })
</script>