<div class="row">
    <div class="col-xl-4 col-lg-4 col-sm-4">
        <div class="entry-area">
            <select class="entry-input" name="personel" id="personel">
                <option value="-">PERSONEL</option>
            </select>
        </div>
        <div class="entry-area">
            <select class="entry-input" name="brand" id="brand">
                <option value="-">BRAND</option>
            </select>
        </div>
        <div class="entry-area">
            <select class="entry-input" name="itemname" id="itemname">
                <option value="-">ITEM NAME</option>
            </select>
        </div>
        <div class="entry-area">
            <select class="entry-input" name="serial" id="serial">
                <option value="-">SERIAL / TAG</option>
            </select>
        </div>

        <div class="entry-area">
            <button class="approve-btn" id="addBtn" name="addBtn">ADD</button>
        </div>
    </div>

    <div class="col-xl-8 col-lg-8 col-sm-8">
        <table id="requestlisttable">
            <thead>
                <th>PERSONEL</th>
                <th>BRAND</th>
                <th>ITEM NAME</th>
                <th>SERIAL / TAG</th>
            </thead>
            <tbody></tbody>
        </table>
        <div class="entry-area">
            <button class="approve-btn" id="assignBtn" name="assignBtn">ASSIGN</button>
        </div>
    </div>
</div>
<hr>
<div>
    <table id="toolTable">
        <thead>
            <th>ID</th>
            <th>ASSIGN TO</th>
            <th>ASSIGN DATE</th>
            <th>DETAILS</th>
            <th>ACTION</th>
        </thead>
        <tbody></tbody>
    </table>
</div>