<div class="row">
    <div class="col-sm-4 col-lg-4 center-text">
        <h1>INVENTORY</h1>
        <table id="cyberpower-tbl">
            <thead>
                <th>MODEL</th>
                <th>TYPE</th>
                <th>COUNT</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-sm-4 col-lg-4 center-text">
        <h1>INCOMMING</h1>
        <table id="incomming-tbl">
            <thead>
                <th>MODEL</th>
                <th>TYPE</th>
                <th>COUNT</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-sm-4 col-lg-4 center-text">
        <h1>OUTGOING</h1>
        <table id="outgoing-tbl">
            <thead>
                <th>MODEL</th>
                <th>TYPE</th>
                <th>COUNT</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>