<!-- STOCKS INVENTORY -->
<div class="row">
    <div class="col-sm-4 col-lg-4 center-text">
        <h1>INVENTORY</h1>
        <table id="cyberpower-tbl">
            <thead>
                <th>MODEL</th>
                <th>TYPE</th>
                <th>COUNT</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<hr>
<!-- INCOMMING STOCKS -->
<div class="center-text">
    <h1>INCOMMING</h1>
    <table id="incomming-tbl">
        <thead>
            <th>MODEL</th>
            <th>TYPE</th>
            <th>COUNT</th>
            <th>ACTION</th>
        </thead>
        <tbody></tbody>
    </table>
</div>
<hr>
<!-- OUTGOING STOCKS -->
<div class="center-text">
    <h1>OUTGOING</h1>
    <table id="outgoing-tbl">
        <thead>
            <th>REQUEST ID</th>
            <th>REQUEST BY</th>
            <th>REQUEST DATE</th>
            <th>CLIENT NAME</th>
            <th>DETAILS</th>
            <th>ACTION</th>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- The Modal -->
<div id="paidModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-button-container">
            <span id="paidspan" class="close">&times;</span>
        </div>

        <div class="modal-body">
            <h1 class="center-text">RECEIPT/S</h1>
            <div class="ebtry-area center-content">
                <input type="text" class="entry-input" id="ponumber" name="ponumber" placeholder="PO NUMBER">
            </div>
            <br>
            <div class="ebtry-area center-content">
                <input type="text" class="entry-input" id="drnumber" name="drnumber" placeholder="DR NUMBER">
            </div>
            <br>
            <div class="ebtry-area center-content">
                <input type="text" class="entry-input" id="sinumber" name="sinumber" placeholder="SI NUMBER">
            </div>
            <br>
            <div class="ebtry-area center-content">
                <input type="text" class="entry-input" id="crnumber" name="crnumber" placeholder="CR NUMBER">
            </div>
        </div>

        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <button class="approve-btn" id="savetransactionBtn" name="savetransactionBtn">SAVE</button>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="assignoutgoingModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-button-container">
            <span id="assignoutgoingspan" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <h1 class="center-text">ASSIGN SERIAL/S</h1>
            <div>
                <table id="assign-outgoing-request-table">
                    <thead>
                        <th>REQUEST ID</th>
                        <th>MODEL</th>
                        <th>TYPE</th>
                        <th>COUNT</th>
                        <th>ACTION</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <!-- <button class="btn-glow-modal" id="saveoutgoingBtn" name="saveoutgoingBtn">SAVE</button> -->
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="outgoingModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-button-container">
            <span id="outgoingspan" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <h1 class="center-text">ASSIGN SERIAL/S</h1>
            <div>
                <table id="outgoing-request-table">
                    <thead>
                        <th>MODEL</th>
                        <th>TYPE</th>
                        <th>SERIAL</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <button class="btn-glow-modal" id="saveoutgoingBtn" name="saveoutgoingBtn">SAVE</button>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="outgoinBatchUploadgModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-button-container">
            <span id="outgoingbatchuploadspan" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <h1 class="center-text">ASSIGN SERIAL/S</h1>
            <div id="excel-upload" class="entry-area">
                <input type="file" id="fileUpload" />
                <input type="button" id="upload" value="Upload" />
                <br />

                <div id="ExcelTable"></div>
            </div>
        </div>

        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <button class="btn-glow-modal" id="saveoutgoinbatchgBtn" name="saveoutgoinbatchgBtn">SAVE</button>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="deliverModal" class="modal card shadow mb-4">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-button-container">
            <span id="deliverspan" class="close">&times;</span>
        </div>

        <div class="modal-body">
            <h1 class="center-text">DELIVERY RECEIPT/S</h1>
            <div class="entry-area center-content">
                <input type="text" class="entry-input" id="dlvponumber" name="dlvponumber" placeholder="PO NUMBER">
            </div>
            <br>
            <div class="entry-area center-content">
                <input type="text" class="entry-input" id="dlvdrnumber" name="dlvdrnumber" placeholder="DR NUMBER">
            </div>
            <br>
            <div class="entry-area center-content">
                <input type="text" class="entry-input" id="dlvsinumber" name="dlvsinumber" placeholder="SI NUMBER">
            </div>
        </div>

        <div id="modal-button-container" class="center-content">
            <!-- <a class="success btn-glow" href="/EquipmentPullout/returnReport"> GENERATE RETURN </a> -->
            <button class="approve-btn" id="submitDlvBtn" name="submitDlvBtn">SUBMIT</button>
        </div>
    </div>
</div>