<div class="row">
    <div class="col-xl-4 col-lg-3">
        <div class="entry-area">
            <input type="text" class="entry-input" id="fullname" name="fullname" placeholder="FULLNAME">
        </div>
        <div class="entry-area">
            <input type="text" class="entry-input" id="location" name="location" placeholder="ASSIGNED LOCATION">
        </div>
        <div class="entry-area">
            <select class="entry-input" id=positions>
                <option value="-" id="listpositions">POSITION</option>
            </select>
        </div>
        <div class="entry-area">
            <button class="" id="saveBtn" name="saveBtn">SAVE</button>
        </div>
    </div>
</div>
<hr>
<div>
    <table id="item-tbl">
        <thead >
            <th>FULLNAME</th>
            <th>ASSIGNED LOCATION</th>
            <th>POSITION</th>
            <th>CREATED BY</th>
            <th>CREATED DATE</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</div>