<div class="row">
    <div class="col-xl-4 col-lg-3">
        <div class="entry-area">
            <input type="text" class="entry-input" id="fullname" name="fullname" placeholder="FULLNAME">
        </div>
        <div class="entry-area">
            <input type="text" class="entry-input" id="username" name="username" placeholder="USERNAME">
        </div>
        <div class="entry-area">
            <input type="text" class="entry-input" id="password" name="password" placeholder="PASSWORD">
        </div>
        <div class="entry-area">
            <select class="entry-input" id=accounttype>
                <option value="-" id="accounttypelist">ACCOUNT TYPE</option>
            </select>
            <!-- <input type="text" class="entry-input" id="accounttype" name="accounttype" placeholder="ACCOUNT TYPE"> -->
        </div>
        <div class="entry-area">
            <button class="" id="saveBtn" name="saveBtn">SAVE</button>
        </div>
    </div>
</div>
<hr>
<div>
    <table id="item-tbl">
        <thead>
            <th>FULLNAME</th>
            <th>USERNAME</th>
            <th>PASSWORD</th>
            <th>ACCOUNT TYPE</th>
            <th>CREATED BY</th>
            <th>CREATED DATE</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</div>