<div class="row">
    <div class="col-xl-4 col-lg-3">
        <div class="entry-area">
            <select class="entry-input" id=personel>
                <option value="-" id="listpersonel">FE NAME</option>
            </select>
        </div>
        <div class="entry-area">
            <input type="text" class="entry-input" id="store" name="store" placeholder="STORE NO & NAME">
        </div>
        <div class="entry-area">
            <input type="text" class="entry-input" id="ticket" name="ticket" placeholder="TICKET NO">
        </div>
        <div class="entry-area">
            <select class="entry-input" id=brandname>
                <option value="-" id="listbrandname">BRAND NAME</option>
            </select>
        </div>
        <div class="entry-area">
            <select class="entry-input" id=itemtype>
                <option value="-" id="lisitemtype">ITEM TYPE</option>
            </select>
        </div>
        <div class="entry-area">
            <input type="text" class="entry-input" id="quantity" name="quantity" placeholder="QUANTITY">
        </div>
        <div class="entry-area">
            <textarea id="remarks" name="remarks" rows="4" cols="50" placeholder="REMARKS / REQUEST MESSAGE"></textarea>
            <!-- <input type="text" class="entry-input" id="remarks" name="remarks" placeholder="REMARKS"> -->
        </div>

        <div class="entry-area">
            <button class="" id="addBtn" name="addBtn">ADD</button>
        </div>
    </div>
    <div class="col-xl-6 col-lg-5">
        <table id="request-item-tbl">
            <thead>
                <th>FE NAME</th>
                <th>STORE</th>
                <th>TICKET</th>
                <th>BRANDNAME</th>
                <th>ITEM NAME</th>
                <th>QUANTITY</th>
                <th>REMARKS</th>
            </thead>
            <tbody></tbody>
        </table>
        <div class="entry-area">
            <button class="" id="requestBtn" name="requestBtn">REQUEST</button>
        </div>
    </div>
</div>
<hr>
<div>
    <table id="item-tbl">
        <thead>
            <th>PERSONEL</th>
            <th>DETAILS</th>
            <th>REQUEST DATE</th>
            <th>STATUS</th>
        </thead>
        <tbody></tbody>
    </table>
</div>