<div class="row">
    <div class="col-xl-4 col-lg-3">
        <div class="entry-area">
            <input type="text" class="entry-input" id="fullname" name="fullname" placeholder="SERIAL">
        </div>
        <div class="entry-area">
            <select class="entry-input" id=personel>
                <option value="-" id="listpersonel">BRAND NAME</option>
            </select>
        </div>
        <div class="entry-area">
            <select class="entry-input" id=personel>
                <option value="-" id="listpersonel">ITEM TYPE</option>
            </select>
        </div>
        <div class="entry-area">
            <input type="text" class="entry-input" id="fullname" name="fullname" placeholder="SIM SERIAL">
        </div>
        <div class="entry-area">
            <select class="entry-input" id=personel>
                <option value="-" id="listpersonel">SIM TYPE</option>
            </select>
        </div>
        <div class="entry-area">
            <button class="" id="saveBtn" name="saveBtn">SAVE</button>
        </div>
    </div>
</div>
<hr>
<div>
    <table>
        <thead>
            <th>SERIAL</th>
            <th>ITEM BRAND</th>
            <th>ITEM TYPE</th>
            <th>SIM TYPE</th>
            <th>SIM NO</th>
            <th>RECEIVED BY</th>
            <th>RECEIVED DATE</th>
            <th>DEPLOY TO</th>
            <th>DEPLOY BY</th>
            <th>DEPLOY DATE</th>
            <th>TICKET NO</th>
            <th>PULLOUT ITEM BRAND</th>
            <th>PULLOUT ITEM TYPE</th>
            <th>PULLOUT ITEM SN</th>
            <th>PULLOUT SIM TYPE</th>
            <th>PULLOUT SIM SN</th>
        </thead>
        <tbody>
            <tr>
                <td>RA051251213521</td>
                <td>SMART</td>
                <td>MODEM</td>
                <td>SMART</td>
                <td>0312 2315 2312 5215</td>
                <td>JOSEPH ORENCIO</td>
                <td>2022-10-26</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>RA051251213521</td>
                <td>SMART</td>
                <td>MODEM</td>
                <td>SMART</td>
                <td>0312 2315 2312 5215</td>
                <td>JOSEPH ORENCIO</td>
                <td>2022-10-26</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>