<script>
    $(document).ready(function () {
        let requestid = '';
        let requestby = '';
        let requestdate = '';
        let remarks = '';
        let budgetrequest = '';
        let detailrequest = '';
        let approvedby = '';
        let approveddate = '';
        let data = [];

        //#region CABLING
        //MODAL
        LoadCablingTableData();
        var accountingModal = document.getElementById("accountingModal");
        var accountingrequestspan = document.getElementById("accountingrequest");

        accountingrequestspan.onclick = function () {
            accountingModal.style.display = "none";
        }

        window.onclick = function () {
            if (event.target == accountingModal) {
                accountingModal.style.display = "none";
            }
        }

        function LoadCablingTableData() {
            //REQUEST BUDGET
            budgetrequesttable = $('#budget-request-tbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/accountingdashboard/loadbudgetrequest',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = '';
                            var status = item.status;

                            if (status == 'PENDING') {
                                action = '<button class="assign-btn" id="approvedBtn" name="approvedBtn">APPROVE</button>'
                            }
                            if (status == 'APPROVED') {
                                action = '<button class="approve-btn" id="printBtn" name="printBtn">PRINT</button>'
                            }

                            finalData.push({
                                requestid: item.requestid,
                                requestdate: item.requestdate,
                                requestby: item.requestby,
                                details: item.details,
                                budget: item.budget,
                                approvedby: item.approvedby,
                                approveddate: item.approveddate,
                                remarks: item.remarks,
                                status: item.status,
                                action: action,
                            })

                        })

                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'requestid' },
                    { data: 'requestdate' },
                    { data: 'requestby' },
                    { data: 'details' },
                    { data: 'budget' },
                    { data: 'approvedby' },
                    { data: 'approveddate' },
                    { data: 'remarks' },
                    { data: 'status' },
                    { data: 'action' },
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
        }

        $('#budget-request-tbl tbody').on('click', 'td', function () {
            $(this).closest('tr').find('td').each(function () {
                data.push([$(this).text()]);

            });

            console.log(data);

            requestid = data[0];
            requestdate = data[1];
            requestby = data[2];
            detailrequest = data[3];
            budgetrequest = data[4];
            approvedby = data[5];
            approveddate = data[6];
            remarks = data[8]
            data = [];
        })

        $(document).on('click', "#approvedBtn", function () {
            console.log('clicked!');
            $.ajax({
                type: "POST",
                url: "/accountingdashboard/approved",
                data: {
                    requestid: requestid,
                },
                success: function (result) {
                    success('Success', 'Request Approved!')
                    LoadTableData();
                },
                error: function (result) {
                    error('error: ' + result);
                }
            });
        })

        $(document).on('click', "#printBtn", function () {

            var requestitemTabel = $('#stocks-equipments-tbl').DataTable({
                'destroy': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollCollapse': true,
            });

            $.ajax({
                type: "POST",
                url: "/purchasedashboard/gettransactionpurchseitems",
                data: { requestid: requestid },
                success: function (result) {
                    requestitemTabel.clear().draw();
                    var data = result.data;
                    var totalcost = 0;
                    var officer = '';
                    var date = '';

                    // console.log(result.data);
                    $.each(data, (key, item) => {
                        var cost = parseFloat(item.cost);
                        var subtotal = parseFloat(item.subtotal);
                        cost = `₱ ${(cost).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`;
                        subtotal = `₱ ${(subtotal).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`;

                        requestitemTabel.row.add([item.brandname, item.itemtype, item.quantity, cost, subtotal]).draw(false);

                        totalcost += parseFloat(item.subtotal);
                        officer = item.purchasingofficer;
                        date = item.purchasedate;
                    })

                    totalcost = `₱ ${(totalcost).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}`;

                    document.getElementById('requestid').innerText = requestid;
                    document.getElementById('requestby').innerText = requestby;
                    document.getElementById('requestdate').innerText = requestdate;
                    document.getElementById('remarks').innerText = remarks;
                    document.getElementById('totalcost').innerText = totalcost;
                    document.getElementById('officer').innerText = approvedby;
                    document.getElementById('date').innerText = approveddate;
                },
                error: function (result) {
                    error('error: ' + result);
                }
            });

            accountingModal.style.display = "block";
        })

        $(document).on('click', "#printStockRequestBtn", function () {
            var printContents = document.getElementById('PrintArea').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
            location.reload();
        })
        //#endregion

        //#region CYBERPOWER
        LoadCyberRequestBudgetTable();

        function LoadCyberRequestBudgetTable() {
            cyberbudgetrequesttable = $('#cyber-budget-request-tbl').DataTable({
                'destroy': true,
                'processing': true,
                'serverSide': true,
                'paging': false,
                'searching': false,
                'info': false,
                'scrollY': 400,
                'scrollCollapse': true,
                'serverMethod': 'GET',
                'ajax': {
                    'url': '/accountingdashboard/loadcyberbudgetrequest',
                    'dataSrc': (json) => {
                        var finalData = [];
                        var data = json.data;

                        console.log(data);
                        $.each(data, (key, item) => {
                            var action = '';
                            var status = item.stats;

                            if (status == 'REQB') {
                                action = '<button class="assign-btn" id="cyberapprovedBtn" name="cyberapprovedBtn">APPROVE</button>'
                            }
                            if (status == 'APD') {
                                action = '<button class="approve-btn" id="cyberprintBtn" name="cyberprintBtn">PRINT</button>'
                            }

                            finalData.push({
                                requestid: item.requestid,
                                requestdate: item.requestdate,
                                requestby: item.requestby,
                                details: item.details,
                                budget: item.budget,
                                approvedby: item.approvedby,
                                approveddate: item.approveddate,
                                remarks: item.remarks,
                                status: item.stats,
                                action: action,
                            })

                        })

                        return finalData;
                    },
                },
                'columnDefs': [{
                    targets: 1,
                    className: 'td-indent',
                }],
                'columns': [
                    { data: 'requestid' },
                    { data: 'requestdate' },
                    { data: 'requestby' },
                    { data: 'details' },
                    { data: 'budget' },
                    { data: 'approvedby' },
                    { data: 'approveddate' },
                    { data: 'remarks' },
                    { data: 'status' },
                    { data: 'action' },
                ],
                initComplete: function () {
                    console.log('init complete');
                    hideload();
                }
            });
        }

            let cyber_requestid = data[0];
            let cyber_requestdate = data[1];
            let cyber_requestby = data[2];
            let cyber_detailrequest = data[3];
            let cyber_budgetrequest = data[4];
            let cyber_approvedby = data[5];
            let cyber_approveddate = data[6];
            let cyber_remarks = data[8]
            let cyber_data = [];
        
        $('#cyber-budget-request-tbl tbody').on('click', 'td', function () {
            $(this).closest('tr').find('td').each(function () {
                cyber_data.push([$(this).text()]);

            });

            console.log(cyber_data);

            cyber_requestid = cyber_data[0];
            cyber_requestdate = cyber_data[1];
            cyber_requestby = cyber_data[2];
            cyber_detailrequest = cyber_data[3];
            cyber_budgetrequest = cyber_data[4];
            cyber_approvedby = cyber_data[5];
            cyber_approveddate = cyber_data[6];
            cyber_remarks = cyber_data[8]

            cyber_data = [];
        })

        $(document).on('click', "#cyberapprovedBtn", function () {
            console.log('clicked!');
            $.ajax({
                type: "POST",
                url: "/accountingdashboard/cyberapproved",
                data: {
                    requestid: cyber_requestid,
                },
                success: function (result) {
                    success('Success', 'Request Approved!')
                    LoadCyberRequestBudgetTable();
                },
                error: function (result) {
                    error('error: ' + result);
                }
            });
        })

        //#endregion
    })
</script>