<div class="tab">
    <div class="entry-area">
        <button class="approve-btn tablinks" id="searchBtn" name="searchBtn"><i class="fas fa-fw fa-search"></i>
            SEARCH</button>
        <button class="approve-btn tablinks" id="deplotBtn" name="deplotBtn"><i class="fas fa-fw fa-box-open"></i>
            DEPLOY</button>
        <button class="approve-btn tablinks" id="pulloutBtn" name="pulloutBtn"><i class="fas fa-fw fa-caravan"></i>
            PULLOUT</button>
        <button class="approve-btn tablinks" id="returnBtn" name="returnBtn"><i class="fas fa-fw fa-caravan"></i>
            RETURN</button>
    </div>
</div>

<div id="search" class="tabcontent">
    <div class="row">
        <div class="col-xl-6 col-lg-5">
            <div class="entry-area">
                <input type="text" class="entry-input" id="searchticket" name="searchticket" placeholder="TICKET">
            </div>
            <div class="entry-area">
                <input type="text" class="entry-input" id="searchtrf" name="searchtrf" placeholder="TRF">
            </div>

            <div class="entry-area">
                <input type="text" class="entry-input" id="searchitemtype" name="searchitemtype"
                    placeholder="ITEM TYPE">
            </div>

            <div class="entry-area">
                <input type="text" class="entry-input" id="searchserial" name="searchserial" placeholder="SERIAL">
            </div>

            <div class="entry-area">
                <label style="color: black;">
                    <input type="checkbox" id="iswildcardsearch" name="iswildcardsearch"> Enable Wildcard Search
                </label>
            </div>

            <div class="entry-area">
                <button class="approve-btn tablinks" id="findBtn" name="findBtn">FIND</button>
            </div>

            <div class="entry-area">
                <p><strong>*Use wildcard search on for single search for itemtype or serial.</strong></p>
            </div>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-4 col-lg-3">

        </div>
        <div class="col-xl-4 col-lg-3"></div>
        <div class="col-xl-4 col-lg-3">
            <button class="export-btn" id="exportBtn" name="exportReturnBtn"><i class="fas fa-fw fa-arrow-up"></i>
                EXPORT</button>
        </div>
    </div>

    <div>
        <table id="search-tbl">
            <thead>
                <th>SERIAL</th>
                <th>ITEM BRAND</th>
                <th>ITEM TYPE</th>
                <th>RECEIVED BY</th>
                <th>RECEIVED DATE</th>
                <th>TICKET</th>
                <th>TRF</th>
                <th>DEPLOY TO</th>
                <th>DEPLOY BY</th>
                <th>DEPLOY DATE</th>
                <th>PULLOUT BRAND</th>
                <th>PULLOUT ITEM TYPE</th>
                <th>PULLOUT SERIAL</th>
                <th>PULLOUT FROM</th>
                <th>PULLOUT DATE</th>
                <th>STATUS</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="deploy" class="tabcontent">
    <div class="row">
        <div class="col-xl-6 col-lg-5">
            <div class="entry-area">
                <input type="text" class="entry-input" id="dployticket" name="dployticket" placeholder="TICKET">
            </div>
            <div class="entry-area">
                <input type="text" class="entry-input" id="deploytrf" name="deploytrf" placeholder="TRF">
            </div>

            <div class="entry-area">
                <input type="text" class="entry-input" id="deployserial" name="deployserial" placeholder="SERIAL">
            </div>

            <div class="entry-area">
                <select class="entry-input" id=deployitembrand>
                    <option value="-" id="listbrandname">ITEM BRAND</option>
                </select>
                <!-- <input type="text" class="entry-input" id="deployitembrand" name="deployitembrand"
                    placeholder="ITEM BRAND"> -->
            </div>

            <div class="entry-area">
                <button class="approve-btn tablinks" id="deployBtn" name="deployBtn">SUBMIT</button>
            </div>
        </div>

        <div class="col-xl-6 col-lg-5">
            <div class="entry-area">
                <select class="entry-input" id=deployitemtype>
                    <option value="-" id="lisitemtype">ITEM TYPE</option>
                </select>
                <!-- <input type="text" class="entry-input" id="deployitemtype" name="deployitemtype"
                    placeholder="ITEM TYPE"> -->
            </div>

            <div class="entry-area">
                <select class="entry-input" id=deployto>
                    <option value="-" id="lisistores">DEPLOY TO</option>
                </select>
                <!-- <input type="text" class="entry-input" id="deployfrom" name="deployto" placeholder="DEPLOY TO"> -->
            </div>

            <div class="entry-area">
                <input class="entry-input" type="text" data-field="date" placeholder="DATE FROM" readonly
                    id="deploydate" name="deploydate">
                <div id="deploy-dtbox"></div>
                <!-- <input type="text" class="entry-input" id="deploydate" name="deploydate" placeholder="DEPLOY DATE"> -->
            </div>

            <div class="entry-area">
                <select class="entry-input" id=deployby>
                    <option value="-" id="listpersonel">DEPLOY BY</option>
                </select>
                <!-- <input type="text" class="entry-input" id="deployby" name="deployby" placeholder="DEPLOY BY"> -->
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-xl-4 col-lg-3">

        </div>
        <div class="col-xl-4 col-lg-3"></div>
        <div class="col-xl-4 col-lg-3">
            <button class="export-btn" id="exportBtn" name="exportReturnBtn"><i class="fas fa-fw fa-arrow-up"></i>
                EXPORT</button>
        </div>
    </div>

    <div>
        <table id="deploy-tbl">
            <thead>
                <th>SERIAL</th>
                <th>ITEM BRAND</th>
                <th>ITEM TYPE</th>
                <th>DEPLOY TO</th>
                <th>DEPLOY BY</th>
                <th>DEPLOY DATE</th>
                <th>TICKET</th>
                <th>TRF</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="pullout" class="tabcontent">
    <div class="row">
        <div class="col-xl-6 col-lg-5">
            <div class="entry-area">
                <input type="text" class="entry-input" id="pulloutticket" name="pulloutticket" placeholder="TICKET">
            </div>
            <div class="entry-area">
                <input type="text" class="entry-input" id="pullouttrf" name="pullouttrf" placeholder="TRF">
            </div>

            <div class="entry-area">
                <input type="text" class="entry-input" id="pulloutserial" name="pulloutserial" placeholder="SERIAL">
            </div>

            <div class="entry-area">
                <select class="entry-input" id=pulloutitembrand>
                    <option value="-" id="listbrandname">ITEM BRAND</option>
                </select>
                <!-- <input type="text" class="entry-input" id="pulloutitembrand" name="pulloutitembrand"
                    placeholder="ITEM BRAND"> -->
            </div>

            <div class="entry-area">
                <button class="approve-btn tablinks" id="pullouBtn" name="pullouBtn">SUBMIT</button>
            </div>
        </div>

        <div class="col-xl-6 col-lg-5">
            <div class="entry-area">
                <select class="entry-input" id=pulloutitemtype>
                    <option value="-" id="lisitemtype">ITEM TYPE</option>
                </select>
                <!-- <input type="text" class="entry-input" id="pulloutitemtype" name="pulloutitemtype"
                    placeholder="ITEM TYPE"> -->
            </div>

            <div class="entry-area">
                <select class="entry-input" id=pulloutfrom>
                    <option value="-" id="lisistores">PULLOUT FROM</option>
                </select>
                <!-- <input type="text" class="entry-input" id="pulloutfrom" name="pulloutfrom" placeholder="PULLOUT FROM"> -->
            </div>

            <div class="entry-area">
                <input class="entry-input" type="text" data-field="date" placeholder="PULLOUT DATE" readonly
                    id="pulloutdate" name="pulloutdate">
                <div id="pullout-dtbox"></div>
                <!-- <input type="text" class="entry-input" id="pulloutdate" name="pulloutdate" placeholder="PULLOUT DATE"> -->
            </div>

            <div class="entry-area">
                <select class="entry-input" id=pulloutby>
                    <option value="-" id="listpersonel">PULLOUT BY</option>
                </select>
                <!-- <input type="text" class="entry-input" id="pulloutby" name="pulloutby" placeholder="PULLOUT BY"> -->
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-xl-4 col-lg-3">

        </div>
        <div class="col-xl-4 col-lg-3"></div>
        <div class="col-xl-4 col-lg-3">
            <button class="export-btn" id="exportBtn" name="exportReturnBtn"><i class="fas fa-fw fa-arrow-up"></i>
                EXPORT</button>
        </div>
    </div>

    <div>
        <table id="pullout-tbl">
            <thead>
                <th>SERIAL</th>
                <th>ITEM BRAND</th>
                <th>ITEM TYPE</th>
                <th>PULLOUT FROM</th>
                <th>PULLOUT BY</th>
                <th>PULLOUT DATE</th>
                <th>TICKET</th>
                <th>TRF</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="return" class="tabcontent">
    <div id="dtbox-return"></div>
    <div class="row">
        <div class="col-xl-6 col-lg-5">
            <div class="entry-area">
                <input class="entry-input" type="text" data-field="date" placeholder="DATE FROM" readonly id="datefrom"
                    name="datefrom">
            </div>

            <div class="entry-area">
                <input class="entry-input" type="text" data-field="date" placeholder="DATE TO" readonly id="dateto"
                    name="dateto">
            </div>

            <div class="entry-area">
                <button class="approve-btn tablinks" id="searchReturnBtn" name="searchReturnBtn">SEARCH</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-4 col-lg-3">

        </div>
        <div class="col-xl-4 col-lg-3"></div>
        <div class="col-xl-4 col-lg-3">
            <button class="export-btn" id="exportBtn" name="exportReturnBtn"><i class="fas fa-fw fa-arrow-up"></i>
                EXPORT</button>
        </div>
    </div>
    <div>
        <table id="return-tbl">
            <thead>
                <th>CONTROL NO</th>
                <th>RETURN DATE</th>
                <th>RETURN BY</th>
                <th>SERIAL</th>
                <th>ITEM BRAND</th>
                <th>ITEM TYPE</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>